.table-arrival tbody > tr:nth-child(4n+1) {
	background: rgba(33, 150, 243, 0.07);;
}

.add-info {
	display: none;
}

.active-l1, .active-l2 {
    background-color: rgb(200, 238, 255) !important;
}

.tableFloatingHeader, .tableFloatingHeaderOriginal {
    background-color: #FFFFFF;
}

